
# Ignore APM package contents and machine-specific config files
atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/projects.cson
atom.symlink/blob-store

# Ignore generated git config file
git/gitconfig.symlink

# Ignore generated npm config gile
nodejs/npmrc.symlink


# Ignore install files

*.log
render_file
template_file
second_template_file
ts*run
.*.status
.settings
ganja_crop
scissors
