"*":
  core:
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      ".codekit-cache"
      "bower_components"
      "node_modules"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "Monaco"
    tabLength: 4
  "exception-reporting":
    userId: "11398ad0-4f5e-79cf-c185-1f706face300"
  "linter-eslint":
    globalNodePath: "~/.npm/lib/node_modules"
