"*":
  core:
    disabledPackages: [
      "node-debugger"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      ".codekit-cache"
      "bower_components"
      "node_modules"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "ariake-dark-syntax"
    ]
  editor:
    fontFamily: "Monaco"
    tabLength: 4
  "exception-reporting":
    userId: "11398ad0-4f5e-79cf-c185-1f706face300"
  linter:
    showErrorPanel: false
  "linter-eslint":
    globalNodePath: "~/.npm/lib/node_modules"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  welcome:
    showOnStartup: false
